/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
@import 'assets/base-assets/footer';

body {
	background-image: url(../img/base/index-block.png);
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	        background-repeat: no-repeat;
}

html {
    height: 100%;
}

a {
	text-decoration: none;
}

p a{
	text-decoration: underline;
	color: color('primary');
}

.my-container {
	position: relative;
	max-width: gridValue('container');
	margin: 0 auto;
	@extend %clearfix;
}

.main-content {
	max-width: gridValue('maincontent');
}

.sidebar {
	width: gridValue('sidebar')
}

/*END:base*/
