/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
@import 'assets/base-assets/footer';

body {
	background-image: url(../img/base/index-block.png);
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	        background-repeat: no-repeat;
}

html {
    height: 100%;
}

a {
	text-decoration: none;
}

.my-container {
	width: gridValue('container');
	margin: 0 auto;
}
/*END:base*/
