.breadcrumb {
	
	&-list {
		padding: 6.6px 22px 1.6px;
		margin-bottom: 0;
		&-item {
			display: inline-block;
			font-family: Arial;
			font-size: 12px;
			line-height: 20px;
			color: #14961c;
		}
	}
}