@import 'assets/settings';

.sidebar {
    float: right;
    padding: 18px 24px;
    border-left: 1px solid #e1dbcd; /* stroke */
    background-color: #f3f1eb; /* layer fill content */
}

.search-block {
    margin-bottom: 20px;
    &__description {
        margin-bottom: 16px;
    }
    &__title {
        font-family: 'Myriad-ProRegular';
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 0;
        text-transform: uppercase;
        color: color('tertiary');
    }
    &__text {
        font-family: Arial;
        font-size: 12px;
        margin-bottom: 15px;
        color: color('tertiary');
    }
    .jq-selectbox.jqselect {
        width: 200px;
        margin-bottom: 19px;

        @extend %default-form-bg;
    }
    .jq-selectbox__select {
        height: 23px;
        line-height: 23px;
    }
    .jq-selectbox__select-text {
        font-family: Arial;
        font-size: 11px;
    }
    .jq-selectbox__trigger {
        width: 20px;
        height: 18px;
        top: 1.5px;
        right: 3px;
        /* border: 1px solid black; */
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        -o-background-clip: padding-box;
           background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #615b49; /* layer fill content */

        .jq-selectbox__trigger-arrow {
                top: 50%;
                right: 5px;
                border-top: 5px solid #fff;
        }
    }

}


.quick-search-block {
    margin-bottom: 30px;
    &__description {
        margin-bottom: 16px;
    }
    &__title {
        @extend .search-block__title;
    }
    &__text {
        @extend .search-block__text;
    }
    
}

.sign-up-block {
    margin-bottom: 30px;
    &__description {
        margin-bottom: 20px;
    }
    &__title {
        @extend .search-block__title;
    }
    &__text {
        @extend .search-block__text;
    }
}

.news-block {
    &__title {
        margin-bottom: 20px;

        @extend .search-block__title;
    }
    &__list {
        list-style: none;
        &-item {
            margin-bottom: 25px;
            & h6 {
                font-family: Arial;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 0;
            }
            & p {
                @extend h6;
                & a {
                    text-decoration: none;
                    color: color('tertiary');
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.submit-button {
    font-family: 'Klavika-MediumPlain';
    font-size: 14px;
    padding: 5.28px 7.78px;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    @extend %default-btn-text;
    @extend %default-btn-bg;
    &.arrow-button {
        padding: 9px 33px;
    }
}

.input-field {
    width: 100%;
    font-family: Arial;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 10px;
    padding-left: 5px;

    @extend %default-form-bg;
    &.text {
        width: 60%;
        margin-right: 9px;
    }
}
