@import 'assets/settings';

.tab-list__list {
    display: table;
    width: 100%;
    font-size: 0;
    border: 1px solid #cfcdc5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &-item {
        position: relative;
        display: inline-block;
        width: 33%;
        text-align: center;
        border-right: 1px solid #cfcdc5;
        &:last-child {
            border-right: none;
        }
        &-link {

            display: block;
            font-family: 'Zurich-CondensedBT';
            font-size: 18px;
            line-height: 20px;
            padding: 9px 0;
            color: #444137;
            @extend %default-transition;
            &:hover {
                text-shadow: none;
            }
            &:focus {
                @extend .tab-list__list-item-link:hover;
            }
            
            & .triangle {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 6px;
                border-color: transparent transparent transparent #0f951e;
                &--active {
                    position: absolute;
                    bottom: -5px;
                    right: 104px;
                    width: 0;
                    height: 0;
                    border-width: 6px 5px 0 5px;
                    border-style: solid;
                    border-color: #0f951e transparent transparent transparent;
                    -webkit-transform: translateX(-50%);
                       -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                         -o-transform: translateX(-50%);
                            transform: translateX(-50%);
                }
            }
            &--active {
                color: #fff; /* text color */
                text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63); /* drop shadow */
                -webkit-border-radius: 5px 0 0 5px;
                -moz-border-radius: 5px 0 0 5px;
                border-radius: 5px 0 0 5px; /* border radius */
                @extend %btn-bg-nonshadow;
            }
        }
    }
}


.tab-content__list {
    /* margin: 0 -10.5px; */
    border: none;

    @extend .tab-list__list;
    &-item {
        display: inline-block;
        width: 31.20567375886525%;
        /* padding: 0 10.5px; */
        vertical-align: top;
        margin-right: 21px;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &-img {
            width: 100%;
            border: 4px solid #e9e6df;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin-bottom: 12px;
        }
        &-title {
            padding-left: 4px;
            font-family: Arial;
            font-size: 14px;
            line-height: 20px;
            padding: 0 4px;
            color: color('secondary');
            margin-bottom: 12px;
        }
        &-description {
            p {
                font-size: 12px;
                line-height: 18px;

                @extend .tab-content__list-item-title;
            }
        }
    }
}
