@import 'assets/settings';

/*footer*/

.site-footer {
    display: table-footer-group;
    height: 1px;
}

.footer-block {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; /* border radius */
    background-color: #f3f1eb; /* layer fill content */
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */

    -o-background-clip: padding-box;
}

.footer-title {
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    line-height: 18px;
    padding: 11.5px;
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #635543; /* stroke */
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #878175; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjIyIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjIyIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.22) 0%, rgba(255,255,255,0.22) 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.22) 0%, rgba(255,255,255,0.22) 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.22) 0%, rgba(255,255,255,0.22) 100%); /* gradient overlay */
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.22)), to(rgba(255,255,255,0.22)));
    background-image: linear-gradient(bottom, rgba(0,0,0,0.22) 0%, rgba(255,255,255,0.22) 100%); /* gradient overlay */
    text-shadow: 0 1px 0 rgba(0,0,0,0.75); /* drop shadow */
}

.footer-main {
    a {
        display: inline-block;
        font-family: Arial;
        font-size: 12px;
        line-height: 18px;
        color: #757268;
    }
    p {
        font-family: Arial;
        font-size: 12px;
        line-height: 18px;
        color: #757268;
    }
    span {
        font-family: Arial;
        font-size: 12px;
        line-height: 18px;
        color: #757268;
    }
}

.footer-main {
    @extend %clearfix;
    /* @extend %default-list-center; */
    &__socials {
        position: relative;
        display: inline-block;
        float: left;
        width: 24%;
        padding-right: 20px;
        padding-left: 22px;
        &:before, &:after {
            position: absolute;
            top: 0;
            display: block;
            width: 1px;
            height: 80%;
            content: '';
        }
        &:before{
            right: 1px;
            background-color: #d8d6ce;
        }
        &:after{
            right: 0;
            background-color: #FAF8F6;
        }
        .twitter {
            margin-bottom: 6px;
            padding-left: 4px;
            &-link {
                font-family: 'Klavika-MediumPlain';
                font-size: 14px;
                font-weight: normal;
                line-height: 18px;
                text-transform: uppercase;
                color: #64522a;
            }
            &__btn{
                @include sprite($twitter);
                border: none;
                background: none;
                background-position: -1256px -76px;
            }
        }
        &-text {
            p {
                margin-bottom: 10px;
            }
        }
        .facebook {
            &-link {
                @include sprite($facebook);
            }
        }
    }
    &__links {
        width: 53%;

        @extend .footer-main__socials;
        &-title {
            font-family: 'Klavika-MediumPlain';
            font-size: 14px;
            font-weight: normal;
            line-height: 18px;
            margin-bottom: 3px;
            padding-left: 14px;
            text-transform: uppercase;
            color: #64522a;
            padding-top: 4px;
        }
        &-list {
            font-size: 0;
            display: table;
            width: 100%;
            margin: 0 auto;
        }
        &-item {
            display: inline-block;
            width: 33%;
            padding: 5px 14px;
            vertical-align: top;
            line-height: 14px;
            &-list {
                margin-bottom: 0;
            }
        }
        /* &-tour {
            display: inline-block;
            width: 30%;
            margin-right: 14px;
            padding-left: 14px;
            &-list {
                display: inline-block;
                list-style: none;
                vertical-align: top;
            }
            &-item {
                & a {
                    line-height: 14px;
                }
            }
        }
        &-useful {
            @extend .footer-main__links-tour;
            &-list {
                @extend .footer-main__links-tour-list;
            }
            &-item {
                & a {
                    line-height: 14px;
                }
            }
        }
        &-print {
            margin-right: 0;
        
            @extend .footer-main__links-tour;
            &-list {
                @extend .footer-main__links-tour-list;
            }
            &-item {
                & a {
                    line-height: 14px;
                }
            }
        } */
    }
    &__contacts {
        width: 23%;
        padding-left: 24px;
        @extend .footer-main__socials;
        &:before, &:after{
            display: none;
        }
        &-title {
            font-family: 'Klavika-MediumPlain';
            font-size: 14px;
            font-weight: normal;
            line-height: 18px;
            margin-bottom: 2px;
            text-transform: uppercase;
            color: #64522a;
            padding-top: 4px;
        }
        &-contacts {
            margin-bottom: 24px;
            & a {
                & span {
                    font-weight: bold;
                }
            }
        }
        &-city {
            display: block;
        }
        &-adress {
            display: block;
            & span {
                line-height: 14px;
            }
        }
    }
}

.footer-copyright {
    padding: 14px 19px 73px 19px;
    text-align: center;
    &__name {
        font-family: Arial;
        font-size: 11px;
        line-height: 18px;
        margin-bottom: 1px;
        color: color('secondary');
    }
    &__description {
        &-text {
            color: #716c61;

            @extend .footer-copyright__name;
        }
    }
}
/*END:footer*/
