/*base*/

.site-header .header-main__info-list-item a,
.site-header .header-nav__nav-list-item a {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.site-header .header-main:after,
.my-container:after {
    display: block;
    clear: both;
    content: '';
}

.site-header .header-nav__nav-list {
    border: 1px solid #0b932f;
    /* stroke */
    background-color: #43ab2d;
    /* drop shadow and inner shadow */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE4OSAzNCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9Ijk1LjUlIiB4Mj0iNTAlIiB5Mj0iNC40OTk5OTk5OTk5OTk5OSUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGY5MzE5IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNjVjMTNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxODkiIGhlaWdodD0iMzQiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    /* gradient overlay */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(4.5%, #0f9319), color-stop(95.5%, #65c13d));
    background-image: -webkit-linear-gradient(bottom, #0f9319 4.5%, #65c13d 95.5%);
    background-image: -moz-linear-gradient(bottom, #0f9319 4.5%, #65c13d 95.5%);
    background-image: -o-linear-gradient(bottom, #0f9319 4.5%, #65c13d 95.5%);
    background-image: linear-gradient(bottom, #0f9319 4.5%, #65c13d 95.5%);
    /* border radius */
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    /* layer fill content */
    -webkit-box-shadow: 0 0 0 3px #d7d5cb, inset 1px 2px 0 #80de41;
    -moz-box-shadow: 0 0 0 3px #d7d5cb, inset 1px 2px 0 #80de41;
    box-shadow: 0 0 0 3px #d7d5cb, inset 1px 2px 0 #80de41;
    -o-background-clip: padding-box;
}


/* 
%default-btn-text {
    color: #fff;
    text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
} */


/*header*/

.site-header .header-main {
    margin-top: 17px;
    margin-bottom: 13px;
}

.site-header .header-main__logo {
    font-family: 'Klavika-MediumPlain';
    float: left;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 52px;
    background-image: url(../img/base/main-logo.png);
    background-repeat: no-repeat;
    background-position: 24px 4px;
}

.site-header .header-main__logo-title {
    font-size: 34px;
    margin-bottom: 2px;
}

.site-header .header-main__logo-title a {
    text-transform: uppercase;
    color: #231f20;
}

.site-header .header-main__logo-subtitle {
    font-size: 11px;
    margin-bottom: 5px;
}

.site-header .header-main__logo-subtitle a {
    padding-left: 3px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #858689;
}

.site-header .header-main__info {
    float: right;
    text-align: right;
}

.site-header .header-main__info-contact {
    font-family: 'Myriad-ProRegular';
    margin-bottom: 6px;
    /* padding-right: 1px; */
}

.site-header .header-main__info-contact p {
    font-size: 12px;
    margin-bottom: 4px;
    color: #585755;
}

.site-header .header-main__info-contact a {
    font-size: 20px;
    color: #373737;
}

.site-header .header-main__info-list,
.site-header .header-nav__nav-list {
    font-size: 0;
    display: table;
    width: 100%;
    margin-bottom: 5px;
}

.site-header .header-main__info-list-item,
.site-header .header-nav__nav-list-item {
    display: inline-block;
    text-align: center;
}

.site-header .header-main__info-list-item a,
.site-header .header-nav__nav-list-item a {
    font-family: 'Zurich-CondensedBT';
    font-size: 13px;
    display: inline-block;
    padding: 10px 6.4px;
    /* -webkit-transition: all 0.2s ease-in;
                        -moz-transition: all 0.2s ease-in;
                        -o-transition: all 0.2s ease-in;
                        transition: all 0.2s ease-in; */
    text-transform: uppercase;
    color: #209a28;
}

.site-header .header-main__info-list-item a:hover,
.site-header .header-main__info-list-item a:focus,
.site-header .header-nav__nav-list-item a:focus,
.site-header .header-nav__nav-list-item a:hover {
    color: #ece6d6;
    background-color: #209a28;
}

.site-header .header-nav__nav-list {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.site-header .header-nav__nav-list-item a {
    /* text color */
    font-family: 'Zurich-BoldCondensedBT';
    font-size: 15px;
    padding: 12.71px 27px;
    color: #fff;
    text-shadow: 0 -2px 0 rgba(0, 92, 19, .63);
}

.site-header .header-nav__nav-list-item a:focus,
.site-header .header-nav__nav-list-item a:hover {
    color: #fff;
}


/*END:header*/


/*footer*/


/*END:footer*/

body {
    background-image: url(../img/base/index-block.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    height: 100%;
}

a,
.site-header .header-nav__nav-list-item a {
    text-decoration: none;
}

p a,
p .site-header .header-nav__nav-list-item a,
.site-header .header-nav__nav-list-item p a {
    text-decoration: underline;
    color: #28b028;
}

.my-container {
    position: relative;
    max-width: 990px;
    margin: 0 auto;
}

.main-content {
    max-width: 739px;
}

.sidebar {
    width: 251px;
}


/*END:base*/
/*# sourceMappingURL=sourcemaps/base.css.map */
