@media screen and (max-width: 960px) {
    .site-header .header-main__info {
        padding-right: 20px;
    }
    .site-header .header-nav .header-toggle {
        display: inline-block;
        margin-left: 30px;
    }
    .site-header .header-nav__nav {
        position: absolute;
        z-index: 1000;
        top: 150px;
        left: 30px;
        display: none;
        width: 32%;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    .site-header .header-nav__nav-list-item {
        display: block;
    }
    .site-header .header-nav__nav-list-item:first-child a:hover {
        background-color: #11941a;
    }
    .site-header .header-nav__nav-list-item:nth-child(2) a:hover {
        background-color: #1e9b20;
    }
    .site-header .header-nav__nav-list-item:nth-child(3) a:hover {
        background-color: #2ca326;
    }
    .site-header .header-nav__nav-list-item:nth-child(4) a:hover {
        background-color: #3aaa2b;
    }
    .site-header .header-nav__nav-list-item:nth-child(5) a:hover {
        background-color: #46b030;
    }
    .site-header .header-nav__nav-list-item:nth-child(6) a:hover {
        background-color: #55b836;
    }
    .site-header .header-nav__nav-list-item:last-child a:hover {
        background-color: #63c03c;
    }
    .site-header .header-nav__nav-list-item a {
        display: block;
    }
    .site-header .header-nav__nav.active {
        display: block;
    }
    .main-home .my-container {
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .breadcrumb-list {
        margin-left: 100px;
    }
    .main-content {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .sidebar {
        float: none;
        width: 78.3%;
        margin: 0 auto;
    }
    .sidebar:after {
        display: block;
        clear: both;
        content: '';
    }
    .quick-search-block,
    .sign-up-block {
        display: none;
    }
    .search-block {
        float: left;
        width: 50%;
    }
    .news-block {
        float: right;
        width: 50%;
    }
    .footer-block {
        width: 80%;
        margin: 0 auto;
    }
    .footer-main__socials {
        float: none;
        width: 100%;
        text-align: center;
    }
    .footer-main__socials:before {
        display: none;
    }
    .footer-main__links {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-main__links:before,
    .footer-main__links:after {
        display: none;
    }
    .footer-main__links-title {
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
    }
    .footer-main__links-list {
        width: 88%;
    }
    .footer-main__contacts {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-main__contacts:before,
    .footer-main__contacts:after {
        display: none;
    }
    .footer-main__contacts-title {
        margin-bottom: 10px;
        text-align: center;
    }
    .footer-main__contacts-contacts {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-main__contacts-contacts a {
        display: inline-block;
    }
    .footer-main__contacts-phone {
        margin-right: 10px;
    }
    .footer-main__contacts-adress {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-main__contacts-adress span {
        display: inline-block;
    }
}

@media screen and (max-width: 800px) {
    .breadcrumb-list {
        margin-left: 15px;
    }
    .sidebar {
        width: 94.3%;
    }
    .footer-block {
        width: 94.3%;
    }
    .footer-block .footer-main__links-list {
        width: 100%;
    }
}

@media screen and (max-width: 732px) {
    .my-container {
        width: 98%;
    }
    .tab-content__list-item {
        width: 48.5%;
        margin-right: 3%;
        margin-bottom: 10px;
    }
    .tab-content__list-item:nth-child(3n) {
        margin-right: 3%;
    }
    .tab-content__list-item:nth-child(2n) {
        margin-right: 0;
    }
    .sidebar {
        width: 100%;
    }
    .footer-block {
        width: 100%;
    }
    .footer-copyright {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .site-header .header-main__logo,
    .site-header .header-main__info {
        display: block;
        float: none;
        text-align: center;
    }
    .site-header .header-main__logo {
        margin-bottom: 20px;
        padding-left: 0;
        background-position: 155px 4px;
    }
    .site-header .header-main__info {
        padding-right: 0;
    }
    .site-header .header-nav__nav.active {
        top: 250px;
        width: 50%;
    }
    .home-slider {
        display: none;
    }
    .main-content__description-text {
        width: 100%;
    }
    .main-content__description-title {
        text-align: center;
    }
    .main-content__description-img {
        display: none;
    }
}

@media screen and (max-width: 412px) {
    .site-header .header-main__logo {
        background-position: 61px 4px;
    }
    .site-header .header-nav__nav.active {
        width: 70%;
    }
    .main-content__description-title {
        font-size: 22px;
    }
    .tab-content__list-item {
        width: 100%;
        margin-right: 0;
    }
    .search-block,
    .news-block {
        float: none;
        width: 100%;
    }
    .footer-title {
        font-size: 14px;
    }
    .footer-main__links-item {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-main__contacts-contacts,
    .footer-main__contacts-adress {
        width: 100%;
    }
}

@media screen and (max-width: 384px) {
    .site-header .header-main__logo {
        background-image: none;
    }
}

@media screen and (max-width: 320px) {
    .site-header .header-main__info-list-item a {
        font-size: 12px;
    }
    .main-content__description-title {
        font-size: 18px;
    }
}
/*# sourceMappingURL=sourcemaps/responsive.css.map */
